<html>
<head>
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>


</head>
<body>
<header>
  <nav>
    <div class="menu-container">
      <!-- Menu -->
      <ul class="menu">
        <li class="menu-apple">
          <a href="#">
            <span></span>
          </a>
        </li>
        <li class="menu-apple">
          <a href="#">
            <span></span>
          </a>
        </li>
        <li class="menu-apple">
          <a href="#">
            <span>Home</span>
          </a>
        </li>
        <li class="menu-apple">
          <a href="#">
            <span>Mon compte</span>
          </a>
        </li>
        <li class="menu-apple">
          <a href="#">
            <span></span>
          </a>
        </li>

        <li class="menu-iPad">
          <a routerLink="/KidsPay/login" routerLinkActive="active">
            <span>se déconnecter</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="fade-screen"></div>
<div class="w3layouts-main">
  <div class="bg-layer">
    <div class="jumbtron">
      <h3 class="display-4 text-center"><img src="/assets/img/logoKidspay.png"></h3>
      <br><br>
      <hr>
      <div class="row">
        <div class="col-md-7">
        <table  class="table table-sm ">
          <thead >
          <th>Date</th>
          <th>Adresse</th>
          <th>Magasin</th>
          <th>Totale Achats</th>
          </thead>
          <tbody>
          <tr *ngFor="let emp of service.listhist2">
            <td >{{emp.dateachat}} </td>
            <td  >{{emp.adresse}}</td>
            <td >{{emp.nommagasin}}</td>
            <td >{{emp.prixcommande}}</td>
          </tr>
          </tbody>
        </table>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


