.table-sm {
  position: relative;
  top: 110px;
  left: 400px;

}
.logokid
{
  position: relative;
  top: 50px;
  left: 45%;



}
th {
  vertical-align: middle;
  border-color: #007cc0;
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #ffffff;
  text-align : center;
  background:#007cc0 ;
}
td {
  vertical-align: middle;
  border-color: #007cc0;
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #0a0a0a;
  text-align : center;
  background: #ffffff ;
}

.w3layouts-main{

  background-image: url('/assets/img/bg.jpg');
  background-repeat: repeat-x;
  animation: slideleft 20000s infinite linear;
  -webkit-animation: slideleft 20000s infinite linear;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

body {
  font-family: 'Hind', sans-serif;
}
@keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 90000%;
  }
}

@-webkit-keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 90000%;
  }
}

.bg-layer {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
}


.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.fade-screen {
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@keyframes specialFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
  }
}
.specialFadeIn {
  animation-name: specialFadeIn;
}
@keyframes specialFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.specialFadeOut {
  animation-name: specialFadeOut;
}
@keyframes specialSlideInRight {
  from {
    transform: translate3d(10%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.specialSlideInRight {
  animation-name: specialSlideInRight;
}
@keyframes specialFadeInRight {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.spceialFadeInRight {
  animation-name: specialFadeInRight;
}
.menu-search-container.active {
  display: block;
  animation-name: specialFadeOut;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.visible {
  visibility: visible;
}
.hidden {
  display: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu ul li {
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu-mac.is-closed {
  animation-name: specialFadeIn;
  animation-delay: 30ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-mac.hidden {
  animation-name: specialFadeOut;
  animation-delay: 245ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-iPad.is-closed {
  animation-name: specialFadeIn;
  animation-delay: 70ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-iPad.hidden {
  animation-name: specialFadeOut;
  animation-delay: 210ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-iPhone.is-closed {
  animation-name: specialFadeIn;
  animation-delay: 100ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-iPhone.hidden {
  animation-name: specialFadeOut;
  animation-delay: 170ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-watch.is-closed {
  animation-name: specialFadeIn;
  animation-delay: 130ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-watch.hidden {
  animation-name: specialFadeOut;
  animation-delay: 130ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-tv.is-closed {
  animation-name: specialFadeIn;
  animation-delay: 170ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-tv.hidden {
  animation-name: specialFadeOut;
  animation-delay: 100ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-support.is-closed {
  animation-name: specialFadeIn;
  animation-delay: 210ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-support.hidden {
  animation-name: specialFadeOut;
  animation-delay: 70ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-search.is-closed {
  animation-name: specialFadeIn;
  animation-delay: 245ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-search.hidden {
  animation-name: specialFadeOut;
  animation-delay: 30ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-store.is-closed {
  animation-name: specialFadeIn;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-store.hidden {
  animation-name: specialFadeOut;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-search-input {
  animation-name: specialFadeInRight;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-delay: 350ms;
}
.search-sub-menu h3 {
  animation-name: specialFadeInRight;
  animation-duration: 700ms;
  animation-fill-mode: both;
}
.search-sub-menu ul li {
  animation-name: specialFadeInRight;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
.search-sub-menu ul li:nth-child(1) {
  animation-delay: 0ms;
}
.search-sub-menu ul li:nth-child(2) {
  animation-delay: 30ms;
}
.search-sub-menu ul li:nth-child(3) {
  animation-delay: 50ms;
}
.search-sub-menu ul li:nth-child(4) {
  animation-delay: 70ms;
}
.search-sub-menu ul li:nth-child(5) {
  animation-delay: 90ms;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  min-width: 1024px;
  background: transparent;
  font-size: 18px;
  z-index: 2;
}
.menu-container {
  position: relative;
  margin: 0 auto;
  margin-top: -5px;
  max-width: 980px;
  padding: 0 22px;
}
.menu-container ul {
  list-style: none;
}
.menu-container ul li {
  display: inline-block;
  text-align: center;
  width: auto;
  margin-right: 76px;
}
.menu-container ul li:last-child {
  margin-right: 0;
}
.menu-container ul li a {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: 16px;
  float: left;
}
.menu-container ul li a:hover {
  color: #969696;
}
.menu-container.menu-apple {
  background-repeat: no-repeat;
  width: 20px;
}
.apple-icon {
  font-size: 20px;
}
.menu-search-container {
  display: none;
  position: absolute;
  top: 0;
  left: 20.6667%;
  width: 56.66667%;
  z-index: 2;
}
.menu-search-container input {
  background-color: transparent;
  border: none;
  width: 80%;
  font-size: 16px;
  outline: none;
  color: #fff;
}
.menu-search-container a {
  color: #fff;
}
.menu-search-container a:first-child {
  display: block;
  float: left;
  padding-right: 10px;
}
.menu-search-container.active {
  display: block;
}
.menu-search-close {
  position: absolute;
  right: -183px;
  top: 0;
}
.search-sub-menu {
  background: #fff;
  width: 100%;
  margin-top: 14px;
  color: #999;
  font-weight: 100;
  padding: 24px 0 15px;
  z-index: 1;
}
.search-sub-menu h3 {
  font-size: 12px;
  font-weight: 100;
  margin-top: 0;
  padding-left: 28px;
}
.search-sub-menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.search-sub-menu ul li {
  display: block;
  text-align: left;
  padding-bottom: 10px;
  margin: 0;
  text-indent: 50px;
}
.search-sub-menu ul li a {
  font-size: 14px;
  color: #999;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.search-sub-menu ul li a:hover {
  background-color: #f2f2f2;
  color: #3392de;
}
.search-sub-menu ul li a:first-child {
  float: none;
  padding-right: 0;
}
.menu-container{
  position: relative;
  top: 150px;

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




@import "../../../assets/scss/_variables";
/* CHECKBOX */
.lbl {
  font-size: 12px;
  color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  /* checkbox icon */
}
.lbl.checked {
  font-weight: 600;
}
.lbl.focus .chk-box {
  border: 1px solid #a8a8a8;
}
.lbl.focus .chk-box.chk {
  border: none;
}
.lbl input {
  display: none;
}
.lbl .chk-box {
  display: block;
  min-width: 15px;
  min-height: 15px;
  background: url('/assets/i/checkbox-not-selected.svg');
  background-size: 15px 15px;
  margin-right: 10px;
}
.lbl input:checked + .chk-box {
  background: url('/assets/i/checkbox-selected.svg');
  background-size: 15px 15px;
}
.lbl .lbl-txt {
  margin-top: 0px;
}










/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  color: #353535;
}
.content h1 {
  text-align: center;
}
.content .content-footer p {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center;
}
.content .content-footer p a {
  color: inherit;
  font-weight: bold;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.panel .btn-group {
  margin: 15px 0 30px;
}
.panel .btn-group .btn {
  transition: background-color .3s ease;
}
.table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-filter tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-filter tbody tr.selected td {
  background-color: #eee;
}
.table-filter tr td:first-child {
  width: 38px;
}
.table-filter tr td:nth-child(2) {
  width: 35px;
}
.ckbox {
  position: relative;
}
.ckbox input[type="checkbox"] {
  opacity: 0;
}
.ckbox label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ckbox label:before {
  content: '';
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
  border-color: #2BBCDE;
  background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
  top: 3px;
  left: 3.5px;
  content: '\e013';
  color: #fff;
  font-size: 11px;
  font-family: 'Glyphicons Halflings';
  position: absolute;
}
.table-filter .star {
  color: #ccc;
  text-align: center;
  display: block;
}
.table-filter .star.star-checked {
  color: #F0AD4E;
}
.table-filter .star:hover {
  color: #ccc;
}
.table-filter .star.star-checked:hover {
  color: #F0AD4E;
}
.table-filter .media-photo {
  width: 35px;
}
.table-filter .media-body {
  display: block;
  /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
  font-size: 11px;
  color: #999;
}
.table-filter .media .title {
  color: #2BBCDE;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .media .title span {
  font-size: .8em;
  margin-right: 20px;
}
.table-filter .media .title span.pagado {
  color: #5cb85c;
}
.table-filter .media .title span.pendiente {
  color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
  color: #d9534f;
}
.table-filter .media .summary {
  font-size: 14px;
}
