<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>


    <body>



    <div class="row">

      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Transactions</h4>
            <p class="card-category">Les transactions les plus recentes</p>
            <p>bloquer compte  <label class="switch">
              <input #inputEl type="checkbox" [name]="label" [(ngModel)]="isChecked" (change)="onChange(inputEl.checked)"
                     *ngIf="isChecked" checked>
              <input #inputEl type="checkbox" [name]="label" [(ngModel)]="isChecked" (change)="onChange(inputEl.checked)"
                     *ngIf="!isChecked" >
              <span class="slider round"></span><span ></span ><br/>
            </label></p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">

              <th>Date</th>
              <th>Magasin</th>
              <th>Total achats</th>
              </thead>
              <tbody>
              <tr *ngFor="let emp of service.listhist2">
                <td>{{emp.dateachat.substr(0,10)}} à<br>{{emp.dateachat.substr(11,18).substr(0,2)}}h{{emp.dateachat.substr(11,18).substr(2,3)}} min</td>
                <div *ngFor="let item2 of this.service.lisstores">
                  <td  *ngIf="(emp.idstore == item2.StoreID )">
                     {{item2.nom}}&nbsp; :&nbsp;{{ item2.adresse}}</td> </div>
                <td>{{emp.prixcommande}}</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily  spending</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Monthly  spending</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div></body>
    </div>
</div>
