<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Produits inscrits</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class=" text-info">
                                <th>Photo</th>
                                <th>Nom</th>
                                <th>Categorie</th>
                                <th>Code</th>
                                <th>Prix</th>
                                <th>modifier</th>
                                <th>supprimer</th>

                            </thead>
                            <tbody>
                                <tr *ngFor="let emp of service.list2  | paginate:{ itemsPerPage: 100, currentPage: p}">

                                    <td>


                                        <img class="img" src="{{service.rootURL2}}{{emp.photo}}" />

                                    </td>
                                    <td> {{emp.nom }}</td>
                                    <td>{{emp.categorie }} </td>
                                    <td> {{emp.code }}</td>
                                    <td> {{emp.prix }}</td>
                                          <td>
                                                <button type="button" class="btn btn-outline-secondary" (click)="openForEdit(emp.id)"><i class="fa fa-edit fa-lg"></i></button>
                                          </td><td>
                                                <button type="button" class="btn btn-outline-secondary" (click)="onOrderDelete(emp.id)"><i class="fa fa-trash fa-lg"></i></button>
                                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">

                        <img class="img" [src]="imageUrl" />

                    </div>
                    <h6 class="card-category text-gray">click to add a new product picture</h6>
                    <div class="card-body">
                        <input type="file" (change)="featuredPhotoSelected($event)">
                        <form id="contact" #form="ngForm" autocomplete="off" *ngIf="service.formData1"
                            (submit)="onSubmit(form)">
                            <div class="row">
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="nom" placeholder="Product Name" #nom="ngModel"
                                            [(ngModel)]="service.formData1.nom">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="code" placeholder="Code" #code="ngModel"
                                            [(ngModel)]="service.formData1.code">
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="row">
                                    <div class="col-md-9">
                                        <mat-form-field class="example-full-width">
                                            <input matInput name="prix" placeholder="Prix" #code="ngModel"
                                                [(ngModel)]="service.formData1.prix">
                                        </mat-form-field>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="col-md-9">

                                    <select name="category" #categorie="ngModel" [(ngModel)]="service.formData1.categorie" class="form-control">
                                        <option value="">-category-</option>
                                        <option value="Boisson">Boisson</option>
                                        <option value="Alimentation">Alimentation</option>
                                    </select>

                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right">Update</button>
                            <button mat-raised-button  class="btn btn-danger pull-right" (click)="cancel()">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>