<html>
<body>
<div class="jumbotron jumbotron-fluid">

  <div class="container">
    <form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)" id="contact">
      <h3>Ajout du Parent</h3>
      <br>
      <fieldset>
        <input  type="text" name ="nom" #nom="ngModel" [(ngModel)]="service.formData.nom" class="form-control" placeholder="Nom"  tabindex="1"required>
      </fieldset>
      <fieldset>
        <input type="text" name ="prenom"  #prenom="ngModel" [(ngModel)]="service.formData.prenom" class="form-control" placeholder="Prénom" required>
      </fieldset>
      <fieldset>
        <input type="email" name ="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" placeholder="Email"required>
      </fieldset>
      <fieldset>
        <input type="text" name ="numTel" #numTel="ngModel" [(ngModel)]="service.formData.numTel" class="form-control" placeholder="N° Tel" required>
      </fieldset>
      <fieldset>
        <input type="text" name ="cin"  #cin="ngModel" [(ngModel)]="service.formData.cin" class="form-control" placeholder="CIN" required>

      </fieldset>
      <fieldset>
        <input name ="password"  type="password"  #password="ngModel" [(ngModel)]="service.formData.password" class="form-control" placeholder="Password" required>

      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">ajouter</button>
      </fieldset>

    </form>
  </div>


</div>

</body>
</html>
