        <html>
        <head>
          <script>
            addEventListener("load", function () {
              setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
              window.scrollTo(0, 1);
            }
          </script>


        </head>
        <body>
        <header>
          <nav>
            <div class="menu-container">
              <!-- Menu -->
              <ul class="menu">
                <li class="menu-apple">
                  <a routerLink="/KidsPay/AceuilAdmin/Gestioncompte" routerLinkA  ctive="active">
                    <span>Gestion Compte</span>
                  </a>
                </li>
                <li class="menu-apple">
                  <a routerLink="/KidsPay/AceuilAdmin/codes" routerLinkA  ctive="active">
                    <span>Codes</span>
                  </a>
                </li>
                <li class="menu-mac">
                  <a routerLink="/KidsPay/AceuilAdmin/parents" routerLinkActive="active">

                    <span>Gestion des Parents</span>
                  </a>
                </li>
                <li class="menu-iPad">
                  <a routerLink="/KidsPay/AceuilAdmin/commercants" routerLinkActive="active">
                    <span>Gestion des Commerçants</span>
                  </a>
                </li>
                <li class="menu-iPad">
                  <a routerLink="/KidsPay/login" routerLinkActive="active">
                    <span>se déconnecter</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <div class="fade-screen"></div>
        <div class="w3layouts-main">
          <div class="bg-layer">
            <div class="jumbtron">
              <h3 class="display-4 text-center"><img src="/assets/img/logoKidspay.png"></h3>
              <br><br>
              <hr>
              <br><br>


              <div align="center" id="divupdate">
                <form  id="contact"   #form="ngForm" autocomplete="off" *ngIf="service.formData"  (submit)="onSubmit(form)">
                  <h3 align="center" style="color: #ffffff">Ajout de l'enfant </h3>
                  <br>
                  <fieldset>
                    <input name ="nom" #nom="ngModel" class="form-control" [(ngModel)]="service.formData.nom" placeholder="Nom"  tabindex="1"required>
                  </fieldset>
                  <fieldset>
                    <input name ="prenom" #prenom="ngModel" class="form-control" [(ngModel)]="service.formData.prenom" placeholder="Prénom" required>
                  </fieldset>

                  <fieldset>
                    <input name ="idtag" #idtag="ngModel" class="form-control" [(ngModel)]="service.formData.idtag"  placeholder="N° Tag" required>
                  </fieldset>

                  <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">ajouter</button>
                  </fieldset>
                </form>





              </div>




















            </div>
          </div>
        </div>
        </body>
        </html>

