<html>
<head>
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>


</head>
<body>
<header>
  <nav>
    <div class="menu-container">
      <!-- Menu -->
      <ul class="menu">
        <li class="menu-apple">
          <a routerLink="/KidsPay/AceuilAdmin/Gestioncompte" routerLinkA  ctive="active">
            <span>Mon Compte</span>
          </a>
        </li>
        <li class="menu-apple">
          <a routerLink="/KidsPay/AceuilAdmin/codes" routerLinkA  ctive="active">
            <span>Codes</span>
          </a>
        </li>
        <li class="menu-mac">
          <a routerLink="/KidsPay/AceuilAdmin/parents" routerLinkActive="active">

            <span>Gestion des Parents</span>
          </a>
        </li>
        <li class="menu-iPad">
          <a routerLink="/KidsPay/AceuilAdmin/commercants" routerLinkActive="active">
            <span>Gestion des Commerçants</span>
          </a>
        </li>
        <li class="menu-iPad">
          <a routerLink="/KidsPay/login" routerLinkActive="active">
            <span>se déconnecter</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="fade-screen"></div>
<div class="w3layouts-main">
  <div class="bg-layer">
    <div class="jumbtron">
      <h3 class="display-4 text-center"><img src="/assets/img/logoKidspay.png"></h3>
      <br><br>
      <hr>
      <br><br>


      <div align="center" id="divupdate">
        <form  id="contact"   #form="ngForm" autocomplete="off" *ngIf="service.formData1"  (submit)="onSubmit(form)">
          <h3 align="center" style="color: #ffffff">Modification des informations du parent </h3>
          <br>
          <fieldset>
            <input  type="text" name ="nom" #nom="ngModel" [(ngModel)]="service.formData1.nom" class="form-control" placeholder="Nom"  tabindex="1"required pattern="[A-Za-z ]*">
          </fieldset>
          <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
            <div *ngIf="nom.errors.required">
              Name is required.
            </div>
            <div *ngIf="nom.errors.pattern">
              Name should not contain numbers or symbols.
            </div>
          </div>



          <fieldset>
            <input type="text" name ="prenom"  #prenom="ngModel" [(ngModel)]="service.formData1.prenom" class="form-control" placeholder="Prénom" required pattern="[A-Za-z ]*">
          </fieldset>

          <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert alert-danger">
            <div *ngIf="prenom.errors.required">
              lastname is required.
            </div>
            <div *ngIf="prenom.errors.pattern">
              lastname should not contain numbers or symbols.
            </div>
          </div>



          <fieldset>
            <input type="email" name ="email" #email="ngModel" [(ngModel)]="service.formData1.email" class="form-control" placeholder="Email"required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            >
          </fieldset>


          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.pattern">
              This Email is invalid.
            </div>
          </div>




          <fieldset>
            <input type="text" name ="numTel" #numTel="ngModel" [(ngModel)]="service.formData1.numTel" class="form-control" placeholder="N° Tel" required pattern="[0-9]*" minlength="8"
            >
          </fieldset>





          <div *ngIf="numTel.invalid && (numTel.dirty || numTel.touched)" class="alert alert-danger">
            <div *ngIf="numTel.errors.required">
              Numero is required.
            </div>
            <div *ngIf="numTel.errors.pattern">
              Phone number should contain only numbers
            </div>
            <div *ngIf="numTel.errors.minlength">
              Phone number should contain at least 8 numbers numbers
            </div>
          </div>

          <fieldset>
            <input type="text" name ="cin"  #cin="ngModel" [(ngModel)]="service.formData1.cin" class="form-control" placeholder="CIN" minlength="8" maxlength="8" required pattern="[0-9]*"
            >

          </fieldset>

          <div *ngIf="cin.invalid && (cin.dirty || cin.touched)" class="alert alert-danger">
            <div *ngIf="cin.errors.required">
              CIN is required.
            </div>
            <div *ngIf="cin.errors.minlength || cin.errors.maxlengh ">
              CIN should be 8 numbers.
            </div>
            <div *ngIf="cin.errors.pattern">
              CIN number should contain only numbers
            </div>
          </div>









          <fieldset>
            <input name ="password"  type="password"  #password="ngModel" [(ngModel)]="service.formData1.password" class="form-control" placeholder="Password" required>

          </fieldset>




          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
          </div>

          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">update</button>
          </fieldset>


        </form>





      </div>




















    </div>
  </div>
</div>
</body>
</html>

