<!DOCTYPE html>
<html lang="zxx">
<head>
  <title>Baby Center Social Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Baby Center Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--booststrap-->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="assets/css/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="//fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
</head>
<body>
<div class="main-top" id="home">
  <!-- header -->
  <div class="headder-top">
    <div class="container-fluid">
      <!-- nav -->
      <nav >



        <img src="assets/img/logoKidspay.png" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Kids Pay</label>


        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active"><a routerLink="/KidsPay/Acceuil" routerLinkActive="active"></a></li>
          <li class="active"><a routerLink="/KidsPay/Acceuil" routerLinkActive="active">Home</a></li>
          <li><a href="#contact"></a></li>
          <li><a href="#service"></a></li>
          <li><a href="#gallery"></a></li>
          <li><a href="#blog"></a></li>

        </ul>
      </nav>
      <!-- //nav -->
    </div>
  </div>
  <!-- //header -->
  <!-- banner -->
  <div class="slider-img ">
    <div class="container">
      <div class="slider-info">
        <!DOCTYPE html>
        <html lang="en">
        <head>
          <title>Login V19</title>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <!--===============================================================================================-->
          <link rel="icon" type="image/png" href="assets/loginstyle/images/icons/favicon.ico"/>
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/vendor/bootstrap/css/bootstrap.min.css">
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/vendor/animate/animate.css">
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/vendor/css-hamburgers/hamburgers.min.css">
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/vendor/animsition/css/animsition.min.css">
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/vendor/select2/select2.min.css">
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/vendor/daterangepicker/daterangepicker.css">
          <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/css/util.css">
          <link rel="stylesheet" type="text/css" href="assets/loginstyle/css/main.css">
          <!--===============================================================================================-->
        </head>

        <body >

        <div class="limiter"  >
          <div class="container-login100" >
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50" style="position:relative;top: -200px" >
              <form class="" #form="ngForm"  (submit)="login(form)" >
					<span class="login100-form-title p-b-33">
						Account Login
					</span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <input class="input100" type="text" name="email" placeholder="Email" #email="ngModel" ngControl="email" [(ngModel)]="service.formData.email" required>
                  <span class="focus-input100-1"></span>
                  <span class="focus-input100-2"></span>
                </div>

                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                  <input class="input100" type="password" name="pass" placeholder="Password" #password="ngModel" ngControl="password"[(ngModel)]="service.formData.password" required>
                  <span class="focus-input100-1"></span>
                  <span class="focus-input100-2"></span>
                </div>

                <div class="container-login100-form-btn m-t-20">
                  <button class="login100-form-btn">
                    Sign in
                  </button>
                </div>



              </form>
            </div>
          </div>
        </div>


        <!--===============================================================================================-->
        <script src="assets/loginstyle/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="assets/loginstyle/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="assets/loginstyle/vendor/bootstrap/js/popper.js"></script>
        <script src="assets/loginstyle/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="assets/loginstyle/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="assets/loginstyle/vendor/daterangepicker/moment.min.js"></script>
        <script src="assets/loginstyle/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="assets/loginstyle/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="assets/loginstyle/js/main.js"></script>

        </body>
        </html>

      </div>

    </div>
  </div>
</div>
