<html>
<head>
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>



</head>
<body>

<div class="w3layouts-main">
  <div class="bg-layer">
    <h1>KidsPay</h1>
    <div class="header-main">
      <div class="main-icon">
        <img src="/assets/img/logo.png" alt="logo" width="100" height="100">
      </div>
      <div class="header-left-bottom">
        <form form #form="ngForm"  (submit)="login(form)" autocomplete="off" >
          <div class="icon1">

            <input type="email" placeholder="email"  name="email" #email="ngModel" ngControl="email" [(ngModel)]="service.formData.email" required>
          </div>
          <div class="icon1">

            <input placeholder="password" name="password" type="password" #password="ngModel" ngControl="password"[(ngModel)]="service.formData.password"  required >

          </div>
          <div class="login-check">
            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Keep me logged in</label>
          </div>
          <div class="bottom">
            <button class="btn">Log In</button>
          </div>
          <div class="links">
            <p><a href="#">Forgot Password?</a></p>

            <div class="clear"></div>
          </div>
        </form>
      </div>

    </div>


  </div>
</div>

</body>
</html>
