<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>List des parent</h2>
  <ul class="list-group">
    <li class="list-group-item">parent1 <span class="badge">modifier</span><span class="badge">supprimer</span></li>
    <li class="list-group-item">parent2 <span class="badge">modifier</span><span class="badge">supprimer</span></li>
    <li class="list-group-item">parent3 <span class="badge">modifier</span><span class="badge">supprimer</span></li>
  </ul>
</div>

</body>
</html>
