<div class="jumbotron jumbotron-fluid">
    
  <h1 class="display-4 text-center">

      <a class="btn btn-secondary" routerLink="/KidsPay/AceuilAdmin/commercants" ><i class="fa fa-table"></i> Gestion Commercants</a>
      <a class="btn btn-secondary" routerLink="/KidsPay/AceuilAdmin/stores" ><i class="fa fa-table"></i> Gestion Stores</a>
    </h1>

<h3 class="display-4 text-center"><img src="/assets/img/logoKidspay.png"> Gestion commercants.</h3>


<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
<table class="table table-hover">
<thead class="thead-light">
  <th>Nom</th>
  <th>Prenom</th>
  <th>Email</th>
  <th>numTel</th>
  <th>CIN</th>
  <th>
    <a class="btn btn-outline-success" routerLink="/KidsPay/AceuilAdmin/commercant" ><i class="fa fa-plus-square"></i> Create New</a>
  </th>
</thead>

<tbody>
  
  <tr *ngFor="let item of commercantList">
<th *ngIf="(item.role == 'commercant')" (click)="openForEdit(item.id)" >{{item.nom}}</th>
<th *ngIf="(item.role == 'commercant')" (click)="openForEdit(item.id)">{{item.prenom}}</th>
<td *ngIf="(item.role == 'commercant')" (click)="openForEdit(item.id)">{{item.email}}</td>
<td *ngIf="(item.role == 'commercant')" (click)="openForEdit(item.id)">{{item.numTel}}</td>
<td *ngIf="(item.role == 'commercant')" (click)="openForEdit(item.id)">{{item.cin}}</td>
<td *ngIf="(item.role == 'commercant')">
<a class="btn text-danger" (click)="onOrderDelete(item.id)" ><i class="fa fa-trash fa-lg"></i></a>
 
</td>
  </tr>
</tbody>


</table>
</div>
</div>
</div>
</div>
