<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">
<head>
  <title>Baby Center Social Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Baby Center Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--booststrap-->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="assets/css/style1.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="//fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
</head>
<body>
<div class="main-top" id="home">
  <!-- header -->
  <div class="headder-top">
    <div class="container-fluid">
      <!-- nav -->
      <nav >



        <img src="assets/img/logoKidspay.png" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Kids Pay</label>


        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active"><a href="index.html"></a></li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="#about"></a></li>
          <li><a href="#contact"></a></li>
          <li><a href="#service"></a></li>
          <li><a href="#gallery"></a></li>
          <li><a href="#blog"></a></li>

        </ul>
      </nav>
      <!-- //nav -->
    </div>
  </div>
  <!-- //header -->
  <!-- banner -->
  <div class="slider-img ">
    <div class="container">
      <div class="slider-info">
        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Best Security </h4>
        <p>buy a tag for your kid</p>
      </div>
      <div class="outs_more-buttn mt-md-4 mt-3">
        <a routerLink="/KidsPay/login" routerLinkActive="active">LOG IN</a>
      </div>
    </div>
  </div>
</div>
<!--// banner -->
<!-- about -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
    <div class="main">
      <input id="tab1" type="radio" name="tabs" checked>
      <label for="tab1" class="baby-care">What we do</label>
      <input id="tab2" type="radio" name="tabs">
      <label for="tab2" class="baby-care">Who are we</label>
      <input id="tab3" type="radio" name="tabs">
      <label for="tab3" class="baby-care">Why choose us</label>
      <div class="content">
        <div id="content1">
          <div class="row">
            <div class="col-lg-6 text-center image-about-text">
              <img src="/assets/img/ab1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 ">
              <div class="about-w3layouts-grid">
                <h5>
                  We’ll Help You Find the Care You Need
                </h5>
              </div>
              <div class="list-job-grid mt-lg-5 mt-md-4 mt-3 ">
                <p>Kids is a new innovative company </p>
              </div>

            </div>
          </div>
        </div>
        <div id="content2">
          <div class="row">
            <div class="col-lg-6 image-about-text">
              <div class="about-w3layouts-grid">
                <h5>
                  Giving a best security for your kids
                </h5>
              </div>
              <div class="list-job-grid mt-lg-5 mt-md-4 mt-3 ">
                <p>Kids is a new innovative company</p>
              </div>

            </div>
            <div class="col-lg-6 text-center">
              <img src="/assets/img/bg.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
        <div id="content3">
          <div class="row">
            <div class="col-lg-6 text-center image-about-text">
              <img src="https://www.nyoooz.com/uploads/nyoooz-images/sdsadfasdf.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 ">
              <div class="about-w3layouts-grid">
                <h5>
                  Choosing the right Payement
                </h5>
              </div>
              <div class="list-job-grid mt-lg-5 mt-md-4 mt-3 ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--//about -->

<!-- contact -->
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3" Id="contact">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Contact Us</h3>
    <div class="row mb-lg-5 mb-md-5 mb-sm-4 mb-4">
      <div class="col-lg-4 col-md-4 footer_grid_left text-center">
        <div class="contact_footer_grid_left text-center">
          <h4 class="mb-lg-3 mb-2">Address </h4>
          <p>ElGazella <br> Arianna, Tunisia</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 footer_grid_left text-center">
        <div class="contact_footer_grid_left text-center ">
          <h4 class="mb-lg-3 mb-2">Phone </h4>
          <p>+(216) 23 4565 32<br>+(216) 23 4565 33</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 footer_grid_left text-center">
        <div class="contact_footer_grid_left text-center">
          <h4 class="mb-lg-3 mb-2">Email Us</h4>
          <p><a href="mailto:info@example.com">kidspay@gmail.com</a>
            <br><a href="mailto:info@example.com">kidspay2@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="wthree-info-para">
      <!--contact-map -->

    </div>
  </div>
</section>
<!--//contact -->
<!-- footer -->
<footer class="py-3">
  <div class="copy-bottom-txt text-center py-3">
    <p>
       <a href="http://www.W3Layouts.com" target="_blank"></a>
    </p>
  </div>
  <div class="social-icons mt-lg-3 mt-2 text-center">
    <ul>
      <li><a href="#"><span class="fa fa-facebook"></span></a></li>
      <li><a href="#"><span class="fa fa-twitter"></span></a></li>
      <li><a href="#"><span class="fa fa-rss"></span></a></li>
    </ul>
  </div>
  <!-- move icon -->
  <div class="text-center">
    <a href="#home" class="move-top text-center mt-lg-4 mt-3"></a>
  </div>
  <!--//move icon -->
</footer>
<!--//footer -->
</body>
</html>
