<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <!DOCTYPE html>
    <html lang="zxx">
    <head>
      <title>Baby Center Social Category Bootstrap Responsive Web Template | Home :: w3layouts</title>


      <noscript>
        <link rel="stylesheet" href="assets/acceuilcss/css/skel.css" />
        <link rel="stylesheet" href="assets/acceuilcss/css/style.css" />
        <link rel="stylesheet" href="assets/acceuilcss/css/style-desktop.css" />
      </noscript>


      <!--meta tags -->
      <meta charset="UTF-8">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Baby Center Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

      <!--booststrap-->
      <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="assets/css/font-awesome.min.css" rel="stylesheet">
      <!-- //font-awesome icons -->
      <!--stylesheets-->
      <link href="assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
    </head>
    <body>

      <!-- //header -->
      <!-- banner -->

        <div class="container">



                  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                  <!------ Include the above in your HEAD tag ---------->

                  <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
                  <div class="container">
                    <article class="container" id="top">
                      <div class="row">
                        <div class="4u">
                          <span ><img src="http://localhost/kidspay/{{service1.formData4.photo}}" class="img-responsive" style="height: 500px;
  width: 2500px; border-radius:50px;"/></span>
                        </div>
                        <div class="8u">
                          <header>
                            <h1>Welcome <strong>{{service1.formData4.nom}}&nbsp;&nbsp;{{service1.formData4.prenom}}</strong></h1>
                          </header>
                          <p><i class="fa fa-envelope-o "></i> {{service1.formData4.email}}<br>
                            <strong> <i class="fa fa-mobile"></i> {{service1.formData4.numTel}}</strong><br>
                            <strong> <i class="fa fa-usd" aria-hidden="true">  {{service1.formData4.balance}} DT </i></strong><br>
                            <span class="btn-label"><i class="fa fa-pencil"></i></span> <a routerLink="/KidsPay/Aceuilparent/updateprofile" routerLinkActive="active" class="btn-label">Update</a>


                          </p>

                        </div>
                      </div>
                    </article>
                  </div>



                  <!-- Portfolio -->
                  <div >
                    <article id="portfolio">
                      <header style="align-items: center">

                        <h2><i class="fa fa-child fa-3x"></i> Here’s your Kids</h2>
                        <p></p>
                      </header>
                      <div class="container">
                        <div class="row">

                          <div class="4u" *ngFor="let emp of service.list">
                            <article class="box style2" >
                              <a href="#" class="image featured"><img src="http://localhost/kidspay/{{emp.photo}}"  /></a>
                              <h3><a href="#">{{emp.nom}} {{emp.prenom}}</a></h3>
                              <div class="meta" *ngFor="let item2 of this.service.listsum">
                                <div *ngIf="(emp.id == item2.idstore )">

                                  <h3> Depenses par semaine : {{item2.prixcommande+' DT'}}</h3> </div> </div>
                              <span class="fa fa-heart-o">
                              <div class="card-footer">

                                <div class="icon pull-right">
                                  <i class="fa fa-bars fa-fw fa-2x" aria-hidden="true" (click)="Detail(emp.id)"></i>
                                  <i class="fa fa-credit-card fa-fw fa-2x" aria-hidden="true" (click)="alimenter(emp.id)"></i>
                                  <i class="fa  fa-cog fa-fw fa-2x" aria-hidden="true" (click)="update(emp.id)"></i>
                                </div>

                              </div>

                              </span>
                            </article>
                          </div>

                        </div>

                      </div></article></div></div></body></html>











                        <app-footer></app-footer>        </div>


