<html>
<head>
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
  <nav>
    <div class="menu-container">
      <!-- Menu -->
      <ul class="menu">
        <li class="menu-apple">
          <a href="#">
            <span></span>
          </a>
        </li>
        <li class="menu-apple">
          <a href="#">
            <span></span>
          </a>
        </li>
        <li class="menu-apple">
          <a href="#">
            <span>Home</span>
          </a>
        </li>
        <li class="menu-apple">
          <a href="#">
            <span>Mon compte</span>
          </a>
        </li>
        <li class="menu-apple">
          <a href="#">
            <span></span>
          </a>
        </li>

        <li class="menu-iPad">
          <a routerLink="/KidsPay/login" routerLinkActive="active">
            <span>se déconnecter</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="fade-screen"></div>
<div class="w3layouts-main">
  <div class="bg-layer">
    <div class="jumbtron">
      <h3 class="display-4 text-center"><img src="/assets/img/logoKidspay.png"></h3>
      <br><br>
      <hr>
      <div class="row">
        <div class="col-md-7">

        <table class="table table-sm ">
          <thead>
          <th>Nom</th>
          <th>Solde</th>
          <th>idtag</th>
          <th>Désactiver compte</th>
          <th></th>
                  </thead>
          <tbody>
          <tr *ngFor="let emp of service.list">
            <td (click)="histo(emp.id)">{{emp.nom}} {{emp.prenom}}</td>
            <td (click)="histo(emp.id)">{{emp.solde}}</td>
            <td  (click)="histo(emp.id)" >{{emp.idtag}}</td>
           
<td>

  <script>
    angular.module('checkboxExample', [])
      .controller('ExampleController', ['$scope', function($scope) {
        $scope.checkboxModel = {
          value1 : true,
        };
      }]);
  </script>


  <label class="switch">
  <input #inputEl type="checkbox" [name]="label" [(ngModel)]="isChecked" (change)="onChange(inputEl.checked)"
         *ngIf="isChecked" checked>
    <input #inputEl type="checkbox" [name]="label" [(ngModel)]="isChecked" (change)="onChange(inputEl.checked)"
           *ngIf="!isChecked" >
  <span class="slider round"></span><span ></span ><br/>
</label><span >{{isChecked ? 'hello':''}}</span>
  <span class="lbl-txt" *ngIf="label" >{{label}}</span>
</td>
            <td><a class="btn-outline-primary" >
              <img src="/assets/img/carte.png" alt="carte" width="50" height="50"class="cartelogo" (click)="alimenter(emp.id)">

              </a>


            </td>
           
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


