
<table class="table table-sm ">
  <thead >
  <th>NOM</th>
  <th>N° Tel</th>
  <th>Email</th>
  <th></th>
  <th><a class="btn-outline-primary" (click)="onaddparent()"><i class="fa fa-user-plus" aria-hidden="true"></i></a></th>
  <th></th>

  </thead>
  <tbody>
  <tr *ngFor="let emp of service.list | paginate:{id:'second', itemsPerPage: 10, currentPage: s}">
    <td  >{{emp.nom}} {{emp.prenom}}</td>
    <td >{{emp.numTel}}</td>
    <td >{{emp.email}}</td>
    <td ><a class="btn-outline-primary" (click)="onadd(emp.id)"><i class="fa fa-user-plus" aria-hidden="true"></i></a></td>


    <td > <a class="btn-outline-primary" (click)="ondelete(emp.id)" ><i class="fa fa-trash fa-lg"></i></a>
    </td>
    <td ><a class="btn-outline-primary" (click)="Edit(emp.id)"  > <i class="fa fa-address-card-o" aria-hidden="true"></i></a>
    </td>


    </tr>
  </tbody>

</table>
<pagination-controls (pageChange)="s = $event" id="second"></pagination-controls>
