<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
                <button mat-raised-button type="submit" class="btn btn-outline-primary" (click)="goToStoreProducts()">Liste Des Produit</button>
              <div class="card">
                  
                    
                  <div class="card-header card-header-danger">   
                      <h4 class="card-title ">historique Magazin</h4>
                      <p class="card-category"> Historique de tous les transactions accociées a ce magazin</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                <th>Date</th>
                                <th>Nom et Prenom de l'Enfant Client</th>
                                <th>Totale Achats</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let emp of service.listhist2">
                                    <td >{{emp.dateachat}} </td>
                                    <td >{{emp.enfant.nom}} {{emp.enfant.prenom}} </td>
                                    <td >{{emp.prixcommande}} DT</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          
            <div class="col-md-4">
                  <div class="card card-chart">
                      <div class="card-header card-header-danger">
                          <div class="ct-chart" id="dailySalesChart"></div>
                      </div>
                      <div class="card-body">
                          <h4 class="card-title">Revenus Clients Par Jour</h4>
                          <p class="card-category">
                                  Statistique par rapport a ce magazin</p>
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">access_time</i> Mise a jours recente
                          </div>
                      </div>
                  </div>
              </div>
        
          
      </div>
  </div>
</div>
