<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-7">
                <button mat-raised-button type="submit" class="btn btn-outline-primary" (click)="goToStoreProducts()">Liste Des Produit</button>
                <button mat-raised-button type="submit" class="btn btn-outline-secondary" (click)="goToNewStoreProducts()">Liste Des Nouveau Produit</button>
              <div class="card">
                  
                    
                  <div class="card-header card-header-danger">   
                      <h4 class="card-title ">historique Magazin</h4>
                      <p class="card-category"> Historique de tous les transactions accociées a ce magazin</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class=" text-primary">
                                <th>Date</th>
                                <th>Nom et Prenom de l'Enfant Client</th>
                                <th>Totale Achats</th>
                              </thead>
                              <tbody>
                                <tr style="cursor: pointer;" *ngFor="let emp of service.listhist2.slice().reverse() | paginate:{ itemsPerPage: 5, currentPage: p}" >
                                    <td (click)="detailCommande(emp.id)" >{{emp.dateachat}} </td>
                                    <td (click)="detailCommande(emp.id)">{{emp.enfant.nom}} {{emp.enfant.prenom}} </td>
                                    <td (click)="detailCommande(emp.id)">{{emp.prixcommande}} DT</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>

          <div class="col-md-5">
               
              <div class="card">
                  
                    
                  <div class="card-header card-header-danger">   
                      <h4 class="card-title ">historique achat</h4>
                      <p class="card-category"> Les lignes de commance de celle choisie</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                            <table class="table">
                                    <thead class=" text-info">
                                        <th>Photo</th>
                                        <th>Nom</th>
                                        
                                       
        
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let emp2 of service.listhist4">
        
                                            <td>
        
        
                                                <img class="img" src="{{service.rootURL2}}{{emp2.photo}}" />
        
                                            </td>
                                            <td>{{emp2.nom }}</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                      </div>
                  </div>
              </div>
          </div>

          
        
          
      </div>
  </div>
</div>
