<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Mes Informations</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nom" disabled > {{user1.nom}}
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Prenom" disabled> {{user1.prenom}}
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width" >
                                  <input matInput placeholder="Adresse Email" type="text" disabled>{{user1.email}}
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width" >
                                  <input matInput placeholder="Numero de Telephone" type="text" disabled>{{user1.numTel}}
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width" >
                                  <input matInput placeholder="Role" type="text" disabled>commercant
                                </mat-form-field>
                              </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width" >
                                    <input matInput placeholder="Mot De Passe" type="text" disabled> *********
                                  </mat-form-field>
                              
                          </div>
                          
                              
                              
                          </div>
                         
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="goToEdit()">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      
                          <img class="img" src="./assets/img/faces/Untitled.png" />
                    
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">balance: {{balance}} DT</h6>
                      <h4 class="card-title">{{user1.nom}} {{user1.prenom}}</h4>
                      <p class="card-description">
                       Pour modifier l'un de vos Magazins, veuillez contacter l'admin
                      </p>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
